html, body {
     margin: 0;
    padding: 0;
}

/* 
Header Styling:
- background color should be #00573c
- text color should be white
- header content should be 30px from each of the header's 4 borders
- the text and the image should be side-by-side, with space around them
- the text and the image should be centered vertically in the header
BONUS: on small screens, the text and the header should be stacked with text above the image
 */
header {
    display: flex;
    flex-wrap: wrap;
    background-color: #00573c;
    color: #fff;
    padding: 30px; 
    justify-content: space-around;
    align-items: center;
}



/* 
Header Image styling:
- the width and height should each be 200px
- the image should be circular
 */
header img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}



/* 
Section styling:
- The top and bottom margins should be 70px; the left and right margins should be 0px.
 */
section {
    margin: 70px 0;
}



/*
Section Heading stying:
- The heading should be centered 
 */
section h2 {
    text-align: center;
}



/* 
Products styling:
- Products should appear side-by-side and centered on the page
BONUS: on smaller screens, products should wrap around to fit on the screen 
 */
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



/* 
Individual Product styling:
- The product title and description should be centered
- The content width should be 250px;
 */
.product {
    width: 250px;
    align-items: center;
    text-align: center;
    padding: 20px;
}



/*
Product Image styling:
- the image width and height should each be 250px
- the image borders should be solid, 4px wide and the same color as the Header background
- the image corners should be 8px rounded
 */
.product-pic {
    width: 250px;
    height: 250px;
    border: 4px solid #00573c;
    border-radius: 8px;
}



/* 
Footer styling:
- the background color should be #673147
- the text color should be white
- the content should be 40px from the top and bottom borders, and 20px from the left and right borders
- all content should be centered 
 */
footer {
    background-color: #673147;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}
